In [1]:
from pathlib import Path
import pandas as pd

In [2]:
DATA_DIR = Path("../ready_data")

df_train = pd.read_parquet(DATA_DIR/"100K35F_train_main.parquet.snappy")
df_val = pd.read_parquet(DATA_DIR/"100K35F_val_main.parquet.snappy")
df_test = pd.read_parquet(DATA_DIR/"100K35F_test_main.parquet.snappy")

In [3]:
features = ["r_id", "r_stars", "r_stars_square", "r_length",
    "u_friends_count", "u_review_count", "u_month_age",
    "b_stars", "b_review_count",
    "r_sen", "r_sub", "r_rea", "r_useful"]

In [4]:
df_train = df_train[features]
df_val = df_val[features]
df_test = df_test[features]

In [5]:
# save output
df_train.to_parquet(DATA_DIR/"100K11F_train_main.parquet.snappy", index=False)
df_val.to_parquet(DATA_DIR/"100K11F_val_main.parquet.snappy", index=False)
df_test.to_parquet(DATA_DIR/"100K11F_test_main.parquet.snappy", index=False)

In [6]:
df_train.head()

,r_id,r_stars,r_stars_square,r_length,u_friends_count,u_review_count,u_month_age,b_stars,b_review_count,r_sen,r_sub,r_rea,r_useful
0,2486117,5,25,41,1,8,35.657224,1.5,13,0.099375,0.460000,74.49,2
1,3238107,5,25,64,174,247,1.024218,3.5,77,0.300000,0.260000,75.61,2
2,5581800,5,25,239,525,603,125.863690,4.0,1646,0.202032,0.444942,84.17,3
3,5953680,4,16,129,130,183,129.975625,4.5,356,0.129097,0.444861,83.76,4
4,2208283,1,1,537,223,1,0.000111,3.5,375,0.014266,0.300989,76.86,6