In [14]:
from textblob import TextBlob
import pandas
import re

In [13]:
# testing textblob

TextBlob("The movie was good but not that great").sentiment

Sentiment(polarity=0.75, subjectivity=0.675)

In [65]:
# import the raw data

text_df=pandas.read_parquet('/Users/Sheffin/Downloads/joined.parquet.snappy')

In [48]:
text_df['r_text']

0          Wow!  Yummy, different,  delicious.   Our favo...
1          This easter instead of going to Lopez Lake we ...
2          My experience with Shalimar was nothing but wo...
3          The hubby and I have been here on multiple occ...
4          I go to blow bar to get my brows done by natal...
                                 ...
2576650    Latest addition to services from ICCU is Apple...
2576651    This spot offers a great, affordable east week...
2576652    This Home Depot won me over when I needed to g...
2576653    For when I'm feeling like ignoring my calorie-...
2576654    Located in the 'Walking District' in Nashville...
Name: r_text, Length: 2576655, dtype: object

In [66]:
# standardize the text
text_df['processed_txt']=text_df['r_text']


# convert to lower case
text_df['processed_txt']=text_df['processed_txt'].str.lower()

 
# remove white spaces between words
processedtxt=[]
for i in range(len(text_df.processed_txt)):
    txt = re.sub(' +', ' ',text_df['processed_txt'][i])
    processedtxt.append(txt)
text_df['processed_txt']=processedtxt


# remove whitespace from start and end of review
text_df['processed_txt']=text_df['processed_txt'].str.strip()


# remove punctuations except ? and !
punctuation= '''()-[]{};:'"\,<>./@#$%^&*_~'''
processedtxt=[]
for i in range(len(text_df.processed_txt)):
    txt = [char for char in text_df['processed_txt'][i] if char not in punctuation]
    txt = ''.join(txt)
    processedtxt.append(txt)
text_df['processed_txt']=processedtxt

In [74]:
# export processed data
process_df=text_df[["processed_txt"]]
process_df.to_parquet('processed_rtext.parquet.snappy',compression='snappy',index=False)